.description{
	color: #7C8B88;
	font-style: normal;
	max-width: 705px;
}

.screenshot{
	max-width: 460px;
	margin-right: 25px;
}

* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

.app{
	display: flex;
}

.title{
	text-transform: uppercase;
	background-color: #33BEBE;
	color: white;
}